# This is your old account
[old]
client_id=
client_secret=
password=
username=
user_agent=testscript by /u/steftsak

# This is your new account
[new]
client_id=
client_secret=
password=
username=
user_agent=testscript by /u/steftsak